<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">    <title>borradorfrontproyecto</title>
   <meta name="description" content="la mejor del mundo">    <!-- See https://goo.gl/OOhYW5 -->

   <link rel="manifest" href="/manifest.json">    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="import" href="/src/borradorfrontproyecto-app/borradorfrontproyecto-app.html">
   <link rel="import" href="/src/visor-usuario/visor-usuario.html">
   <link rel="import" href="/src/login-usuario/login-usuario.html">
   <link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
   <link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<!--   <link rel="import" href="/src/padre-app/padre-app.html"> -->
   <link rel="import" href="/src/gestor-app/gestor-app.html">
   <link rel="import" href="/bower_components/app-router/app-router.html">
 </head>
 <body>
   <!--<frontproyecto-app nombre="Leandro" apellidos="Gao Bastante" edad="55"></frontproyecto-app>
   <frontproyecto-app nombre="Paco" apellidos="Merte" edad="33"></frontproyecto-app>
   <h3>Esto no es Polymer</h3>-->
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="#">Navbar</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Link</a>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled" href="#">Disabled</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
           <div class="dropdown-menu" aria-labelledby="dropdown01">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav>    <main role="main" class="container">
   <br/></br/><br/></br/>
<!--     <h1>Bienvenido a su banco {{nombre}} {{apellidos}}</h1>
<!--     <visor-cuentas></visor-cuentas>
-->
    <gestor-app></gestor-app>
     <app-router>
       <app-route path="/"></app-route>

       <app-route path="/movimientos" import="/src/visor-movimientos/visor-movimientos.html"></app-route>

       <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
     </app-router>



     </main><!-- /.container -->

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     </body>
</html>
