<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">

<dom-module id="gestor-app">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>
<!-- Tras hacer login
-->
    <login-usuario hidden$={{estoylogado}} id="lgu" on-evento-logado="llamarVisorCuentas"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vsc" on-evento-movimientos="llamarVisorMovimientos"></visor-cuentas>
<!-- Tras clicar en "Ver movimientos"
    <visor-cuentas hidden$={{!estoylogado}} on-evento-movimientos="llamarVisorMovimientos"></visor-cuentas>
  -->
    <visor-movimientos hidden$={{!estoylogado}} id="vsm"></visor-movimientos>

  </template>

  <script>
    class GestorApp extends Polymer.Element
    {
      static get is() { return 'gestor-app'; }
      static get properties()
      {
        return {
          estoylogado: {
            type: Boolean,
            value: false
          }
        };
      }
      llamarVisorCuentas(e)
      {
        var id = e.detail.id
        console.log("Recuperado id del cliente logado")
        console.log(e.detail.id)
        var nombre = e.detail.nombre
        var apellidos = e.detail.apellidos
        this.$.vsc.obtenerCuentas(id, nombre, apellidos)
        this.estoylogado = true
      }
      llamarVisorMovimientos(mensMovimientos)
      {
        console.log("Mensaje recibido en llamarVisorMovimientos", mensMovimientos.detail)
        var ibanMvtos = mensMovimientos.detail.iban
        console.log("Recuperado iban de la cuenta a consultar los movimientos", ibanMvtos)
        this.$.vsm.obtenerMovimientos(ibanMvtos)
      }
    }

    window.customElements.define(GestorApp.is, GestorApp);
  </script>
</dom-module>
