<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id ="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login/"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError"></iron-ajax>

    <div class="row">
        <input type="email" value={{email::input}} />
        <input type="password" value={{password::input}} />
        <button on-click="logar">Login</button>
    </div>
    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          }
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.nombre = resultado.detail.response.nombre
        console.log("6.Nombre:", this.nombre)
        this.apellidos = resultado.detail.response.apellidos
        console.log("7.Apellidos:", this.apellidos)
        this.logado = true
        this.dispatchEvent(new CustomEvent("evento-logado", {detail:{"id":resultado.detail.response.id,"nombre":resultado.detail.response.nombre,"apellidos":resultado.detail.response.apellidos}}))
      }
      mostrarError(error){
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
      }
      logar(){
        console.log("1. El usuario ha pulsado el botón")
        this.$.hacerLogin.headers.email = this.email
        this.$.hacerLogin.headers.password = this.password
        console.log("2. Voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        console.log("3. Voy a enviar la petición")
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
