<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <app-router scrollToHash="/movimientos"/></app-router>




    <iron-ajax
      id="obtenerMovimientos"
      url="http://localhost:3000/apitechu/v5/usuario/cuenta/movimientos"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorMovimientos"></iron-ajax>

      <h1>Hola {{nombre}} {{apellidos}}, encantados de volver a verle</h1>
      <br/>
      <h1>Aquí tiene sus movimientos</h1>

      <table class="table table-striped">
        <thead>
          <th>IBAN</th>
          <th>SALDO</th>
          <th></th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>{{item.iban}}</td>
              <td>{{item.saldo}}</td>
<!--        Asi lo dejo Ángel
              <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>
-->
              <td><a class="btn btn-info" href="/movimientos2" on-click="verMovimientos" data-iban$="{{item.iban}}">Ver movimientos</a></td>
            </tr>
          </template>
        </tbody>
      </table>

  </template>

  <script>
    class VisorMovimientosCuentas extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            value: 2
          },
          cuentas:{
            type: Array
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          iban: {
            type: String
          }
        };
      }
      mostrarMovimientos(resultado) {
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
        console.log("Cuentas:",this.cuentas)
      }
      mostrarErrorMovimientos(error){
        console.log(error.detail.response)
      }
      obtenerMovimientos(iban) {
        console.log("iban:",iban)
        this.iban = iban
        this.$.obtenerMovimientos.headers.id = iban
        this.$.obtenerMovimientos.generateRequest()
      }
    }

    window.customElements.define(VisorMovimientosCuentas.is, VisorMovimientosCuentas)
  </script>
</dom-module>
