<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:3000/apitechu/v5/cuentas"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas"></iron-ajax>

    <h1>Hola {{nombre}} {{apellidos}}, encantados de volver a verle</h1>
    <br/>
    <h1>Aquí tiene sus cuentas</h1>
<!--
    <template is="dom-repeat" items="{{cuentas}}">
      <span>{{item.iban}}</span>
      <br></br>
    </template>
-->
    <table class="table table-striped">
      <thead>
        <th>IBAN</th>
        <th>SALDO</th>
        <th></th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}</td>
<!--        Asi lo dejo Ángel
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]" on-click="verMovimientos" data-iban$="{{item.iban}}">Ver movimientos</a></td>
-->
            <td><a class="btn btn-info" href="/movimientos" on-click="verMovimientos" data-iban$="{{item.iban}}">Ver movimientos</a></td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            value: 2
          },
          cuentas:{
            type: Array
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          }
        };
      }
      mostrarCuentas(resultado) {
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
        console.log("Cuentas:",this.cuentas)
      }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
      }
      obtenerCuentas(id, nombre, apellidos) {
        console.log("id:",id);
        console.log("nombre:",nombre);
        console.log("apellidos:",apellidos);
        this.nombre = nombre
        this.apellidos = apellidos
        this.$.obtenerCuentas.headers.id = id
        this.$.obtenerCuentas.generateRequest()
      }
      verMovimientos(event){
        const ibanevento = event.target.dataset.iban
        console.log("ibanevento: ",ibanevento)
        this.dispatchEvent(new CustomEvent("evento-movimientos", {"detail":{"iban":ibanevento}}))
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas)
  </script>
</dom-module>
